.product {
  display: flex;
  border-bottom: 0.5px solid lightgray;
  margin-bottom: 5px;
  margin-right: 10px;
  padding-bottom: 10px;
}
.product-img {
  margin-right: 15px;
}
.product-details {
  width: 70%;
}
.addto-button {
  background-color: goldenrod;
  width: 150px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid yellow;
  padding: 5 px 25px;
}
.addto-button:hover {
  background-color: green;

  transition: ease-in 0.3s;
}
